<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="dxa"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="1954"/>  <!-- 14% - Service -->
        <w:gridCol w:w="1256"/>  <!-- 9% - 2022 -->
        <w:gridCol w:w="1256"/>  <!-- 9% - 2023 -->
        <w:gridCol w:w="1256"/>  <!-- 9% - 2024 -->
        <w:gridCol w:w="1117"/>  <!-- 8% - Nombre -->
        <w:gridCol w:w="1117"/>  <!-- 8% - % -->
        <w:gridCol w:w="1535"/>  <!-- 11% - 2022 -->
        <w:gridCol w:w="1535"/>  <!-- 11% - 2023 -->
        <w:gridCol w:w="1535"/>  <!-- 11% - 2024 -->
        <w:gridCol w:w="1396"/>  <!-- 10% - Montant -->
    </w:tblGrid>

    <!-- Row 1 -->
    <w:tr>
        <!-- Cell 1: Merges with 2 cells below (vertical merge start) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1954" w:type="dxa"/>
                <w:vMerge w:val="restart"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Service</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 2: Merges with 4 columns next to it (columns 2-6) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="5002" w:type="dxa"/>
                <w:gridSpan w:val="5"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Postes ouverts</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 7: Merges with 3 columns next to it (columns 7-10) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="6001" w:type="dxa"/>
                <w:gridSpan w:val="4"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Masse salariale</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>

    <!-- Row 2 -->
    <w:tr>
        <!-- Cell 1: Continuation of vertical merge -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1954" w:type="dxa"/>
                <w:vMerge w:val="continue"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
            </w:p>
        </w:tc>

        <!-- Cell 2: Merges with 2 columns next to it (columns 2-4) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3768" w:type="dxa"/>
                <w:gridSpan w:val="3"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Nombre</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 5: Merges with column next to it (columns 5-6) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2234" w:type="dxa"/>
                <w:gridSpan w:val="2"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Variation (2023-2024)</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 6: Merges with 2 columns next to it (columns 7-9) -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="4605" w:type="dxa"/>
                <w:gridSpan w:val="3"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Montant</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 10: Single column -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1396" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Variation (2023-2024)</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>

    <!-- Row 3 -->
    <w:tr>
        <!-- Cell 1: Continuation of vertical merge -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1954" w:type="dxa"/>
                <w:vMerge w:val="continue"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
            </w:p>
        </w:tc>

        <!-- Cell 2: 2022 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2022</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 3: 2023 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2023</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 4: 2024 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2024</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 5: Nombre -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1117" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Nombre</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 6: % -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1117" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>%</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 7: 2022 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2022</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 8: 2023 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2023</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 9: 2024 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>2024</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 10: Montant -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1396" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Montant</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
    {{#evolutions}}
        <w:tr>
            <!-- Cell 1: Service Name-->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1256" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{serviceType}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 2: 2022 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1256" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{postesAnneeMoins2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 3: 2023 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1256" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{postesAnneeMoins1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 4: 2024 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1256" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{postesAnnee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 5: Nombre -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1117" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{nombre}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 6: % -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1117" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{variationPostes}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 7: 2022 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1535" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{massSalarialAnneeMoins2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 8: 2023 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1535" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{massSalarialAnneeMoins1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 9: 2024 -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1535" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{massSalarialAnnee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- Cell 10: Montant -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1396" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{variationSalarial}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/evolutions}}
    <w:tr>
        <!-- Cell 1: Service Name-->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Total</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 2: 2022 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalPostesAnneeMoins2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 3: 2023 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalPostesAnneeMoins1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 4: 2024 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1256" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalPostesAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 5: Nombre -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1117" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalNombre}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 6: % -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1117" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{averageVariation}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 7: 2022 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalMassSalarialAnneeMoins2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 8: 2023 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalMassSalarialAnneeMoins1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 9: 2024 -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1535" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalMassSalarialAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <!-- Cell 10: Montant -->
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1396" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="TableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalVariationSalarial}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
</w:tbl>