<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="9026" w:type="dxa"/>
        <w:tblLayout w:type="fixed"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1"
                   w:lastColumn="0" w:noHBand="0" w:noVBand="1"/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="9026"/>
    </w:tblGrid>
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                </w:pPr>
                <w:r>
                    <w:t>1. Les axes stratégiques du programme</w:t>
                </w:r>
            </w:p>

            {{#programme.axesStrategiques}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                    </w:pPr>
                    <w:r>
                        <w:t>- {{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.axesStrategiques}}
        </w:tc>
    </w:tr>

    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                </w:pPr>
                <w:r>
                    <w:t>2. Les objectives stratégiques du programme</w:t>
                </w:r>
            </w:p>

            {{#programme.objectivesStrategiques}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                    </w:pPr>
                    <w:r>
                        <w:t>- {{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.objectivesStrategiques}}
        </w:tc>
    </w:tr>

    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                </w:pPr>
                <w:r>
                    <w:t>3. Les initiatives importantes du programme</w:t>
                </w:r>
            </w:p>

            {{#programme.initiativesImportantes}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                    </w:pPr>
                    <w:r>
                        <w:t>-{{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.initiativesImportantes}}
        </w:tc>
    </w:tr>

    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                </w:pPr>
                <w:r>
                    <w:t>4. Le responsable du programme</w:t>
                </w:r>
            </w:p>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="Text"/>
                </w:pPr>
                <w:r>
                    <w:t>{{programme.responsable}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>

</w:tbl>
