<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="9026" w:type="dxa"/>
        <w:tblLayout w:type="fixed"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0"
                   w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
        <w:bidiVisual/>
    </w:tblPr>

    <w:tblGrid>
        <w:gridCol w:w="9026"/>
    </w:tblGrid>

    <!-- 1 -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>المستخدمين</w:t>
                </w:r>
            </w:p>

            {{#programme.justificationDepensePersonnel}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>- {{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.justificationDepensePersonnel}}
        </w:tc>
    </w:tr>

    <!-- 2 -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>تسيير المصالح</w:t>
                </w:r>
            </w:p>

            {{#programme.justificationDepenseFonctionnementServices}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>- {{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.justificationDepenseFonctionnementServices}}
        </w:tc>
    </w:tr>

    <!-- 3 -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>الإستثمارات</w:t>
                </w:r>
            </w:p>

            {{#programme.justificationDepenseInvestissements}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>- {{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.justificationDepenseInvestissements}}
        </w:tc>
    </w:tr>

    <!-- 4 -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="9026" w:type="dxa"/>
            </w:tcPr>

            <w:p>
                <w:pPr>
                    <w:pStyle w:val="NormalTitle"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>التحويلات</w:t>
                </w:r>
            </w:p>
            {{#programme.justificationDepenseTransferts}}
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="Text"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>-{{.}}</w:t>
                    </w:r>
                </w:p>
            {{/programme.justificationDepenseTransferts}}
        </w:tc>
    </w:tr>
</w:tbl>
