<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="dxa"/>
        <w:tblLayout w:type="fixed"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="2558"/>
        <w:gridCol w:w="900"/>
        <w:gridCol w:w="900"/>
        <w:gridCol w:w="1500"/>
        <w:gridCol w:w="1100"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
    </w:tblGrid>
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2558" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{headerTitle}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>Date de debut</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>Date de fin</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1500" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>Coût estimatif global</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <!-- center alignment directly -->
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <!-- direct formatting -->
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:sz w:val="16"/>
                        <w:szCs w:val="16"/>
                        <w:b/>
                    </w:rPr>
                    <w:t>{{headerAE}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{headerCPAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{headerCPAnneePlus1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{headerCPAnneePlus2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="16"/>
                        <w:szCs w:val="16"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>Charges récurrentes annuelles moyennes prévues</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
    {{#projets}}
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2558" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="20"/>
                            <w:szCs w:val="20"/>
                        </w:rPr>
                        <w:t>{{name}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="900" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <!-- center alignment directly -->
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <!-- direct formatting -->
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:sz w:val="14"/>
                            <w:szCs w:val="14"/>
                        </w:rPr>
                        <w:t>{{dateDebut}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="900" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <!-- center alignment directly -->
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <!-- direct formatting -->
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:sz w:val="14"/>
                            <w:szCs w:val="14"/>
                        </w:rPr>
                        <w:t>{{dateFin}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1500" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{couteEstGlobal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>



            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1100" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{AEDemande}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnnee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnneePlus1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnneePlus2Suivante}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{chargesRecurAnnuellMoyennesPrevus}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/projets}}
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2558" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>Total</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>-</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>-</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1500" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCoutEstGlobal}}</w:t>
                </w:r>
            </w:p>
        </w:tc>


        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalAE}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCPAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCPAnneePlus1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                    </w:rPr>
                    <w:t>{{totalCPAnneePlus2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCharges}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
</w:tbl>