<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="dxa"/>
        <w:tblLayout w:type="fixed"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
        <w:bidiVisual/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="2558"/>
        <w:gridCol w:w="900"/>
        <w:gridCol w:w="900"/>
        <w:gridCol w:w="1500"/>
        <w:gridCol w:w="1100"/>
        <w:gridCol w:w="900"/>
        <w:gridCol w:w="1100"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
        <w:gridCol w:w="1250"/>
    </w:tblGrid>
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2558" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>{{headerTitle}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>تاريخ بداية المشروع</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>تاريخ نهاية المشروع</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1500" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>التكلفة الإجمالية المقدرة للمشروع</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>نسبة التقدم</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="14"/>
                        <w:szCs w:val="14"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>احترام الاطار الزمني(نعم أو لا)</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="16"/>
                        <w:szCs w:val="16"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{headerAEReevaluation}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>{{headerCPAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>{{headerCPAnneePlus1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>{{headerCPAnneePlus2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="16"/>
                        <w:szCs w:val="16"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>متوسط التكاليف المتكررة المتوقعة سنويا</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
    {{#projets}}
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2558" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="right"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="20"/>
                            <w:szCs w:val="20"/>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>{{name}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="900" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="14"/>
                            <w:szCs w:val="14"/>
                        </w:rPr>
                        <w:t>{{dateDebut}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="900" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="14"/>
                            <w:szCs w:val="14"/>
                        </w:rPr>
                        <w:t>{{dateFin}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1500" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{couteEstGlobal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1100" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{tauxAvancement}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="900" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                            <w:rtl/>
                        </w:rPr>
                        <w:t>{{#respetEcheanciers}}نعم{{/respetEcheanciers}}{{^respetEcheanciers}}لا{{/respetEcheanciers}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1100" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{AEreevaluationDemandee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnnee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnneePlus1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{CPAnneePlus2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1250" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                      w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            <w:sz w:val="22"/>
                            <w:szCs w:val="22"/>
                        </w:rPr>
                        <w:t>{{chargesRecurAnnuellMoyennesPrevus}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/projets}}
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2558" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                        <w:rtl/>
                    </w:rPr>
                    <w:t>المجموع</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>-</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>-</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1500" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCouteEstGlobal}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{averageTauxAvancement}}</w:t>
                </w:r>
            </w:p>
        </w:tc>

        <w:tc>
            <w:tcPr>
                <w:tcW w:w="900" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>-</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1100" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalAE}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCPAneee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{TotalCPAnneePlus1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman"
                                  w:eastAsia="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                    </w:rPr>
                    <w:t>{{totalCPAnneePlus2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="1250" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Times New Roman" w:hAnsi="Times New Roman" w:cs="Times New Roman"/>
                        <w:lang w:val="fr-FR" w:eastAsia="fr-FR" w:bidi="fr-FR"/>
                        <w:sz w:val="22"/>
                        <w:szCs w:val="22"/>
                        <w:b/>
                        <w:bCs/>
                    </w:rPr>
                    <w:t>{{totalCharges}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
</w:tbl>