<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="0" w:type="auto"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1"
                   w:lastColumn="0" w:noHBand="0" w:noVBand="1"/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="3020"/>
        <w:gridCol w:w="3000"/>
        <w:gridCol w:w="3000"/>
    </w:tblGrid>

    <!-- Header row -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3020" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Programmes</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3021" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Autorisations d’engagement</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3021" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>Crédits de paiement</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>

    <!-- Data rows -->
    {{#repartition}}
        <w:tr>
            <!-- First column left-aligned -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="3020" w:type="dxa"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{name}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- AE column (center) -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="3021" w:type="dxa"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{aeFormatted}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <!-- CP column (center) -->
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="3021" w:type="dxa"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{cpFormatted}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/repartition}}

    <!-- Total row -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3020" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="left"/>
                </w:pPr>
                <w:r>
                    <w:t>Total des dépenses</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3021" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalAE}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="3021" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                </w:pPr>
                <w:r>
                    <w:t>{{totalCP}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
</w:tbl>
