<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="auto"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1"
                   w:lastColumn="0" w:noHBand="0" w:noVBand="1"/>
        <w:bidiVisual/>
    </w:tblPr>
    <w:tblGrid>
        <w:gridCol w:w="2700"/>
        <w:gridCol w:w="2252"/>
        <w:gridCol w:w="2252"/>
        <w:gridCol w:w="2251"/>
        <w:gridCol w:w="2251"/>
        <w:gridCol w:w="2252"/>
    </w:tblGrid>

    <!-- Header row -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2700" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{header}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>النفقات الفعلية السنة 2024</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>تقديرات النفقات الفعلية السنة 2025</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>النفقات المتوقعة السنة 2026</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>النفقات المتوقعة السنة 2027</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>النفقات المتوقعة السنة 2028</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>


    <!-- Data rows -->
    {{#evolutions}}
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2700" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{name}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{anneeMoins2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{anneeMoins1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{annee}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{anneePlus1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{anneePlus2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>

    {{/evolutions}}

    <!-- Total row -->
    <w:tr>
        <w:tc>
            <w:tcPr>
                <w:tcW w:w="2700" w:type="dxa"/>
                <w:vAlign w:val="center"/>
            </w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rtl/>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>مجموع النفقات</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{totalAnneeMoins2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{totalAnneeMoins1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{totalAnnee}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2251" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{totalAnneePlus1}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
        <w:tc>
            <w:tcPr><w:tcW w:w="2252" w:type="dxa"/><w:vAlign w:val="center"/></w:tcPr>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="BoldTableCell"/>
                    <w:jc w:val="center"/>
                    <w:bidi/>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                    </w:rPr>
                    <w:t>{{totalAnneePlus2}}</w:t>
                </w:r>
            </w:p>
        </w:tc>
    </w:tr>
</w:tbl>