<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="dxa"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
        <w:bidiVisual/>
    </w:tblPr>
    {{#hasAutreTitre}}
        <w:tblGrid>
            <w:gridCol w:w="2000"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
        </w:tblGrid>
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{headerTitle}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 1: نفقات المستخدمين</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 2: نفقات تسيير المصالح</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 3: نفقات الاستثمار</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>

                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 4: نفقات التحويل</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 5: أعباء الدين العمومي</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 6: نفقات العمليات المالية</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 7: نفقات غير متوقعة</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>المجموع</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
        {{#repartitions}}
            <w:tr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2000" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rtl/>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{name}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre1}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre2}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre3}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>

                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre4}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>

                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre5}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre6}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre7}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{total}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>

        {{/repartitions}}
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>مجموع النقات</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre3}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>

                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre4}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre5}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre6}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre7}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{globalTotal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/hasAutreTitre}}
    {{^hasAutreTitre}}
        <w:tblGrid>
            <w:gridCol w:w="3000"/>
            <w:gridCol w:w="2191"/>
            <w:gridCol w:w="2191"/>
            <w:gridCol w:w="2191"/>
            <w:gridCol w:w="2191"/>
            <w:gridCol w:w="2191"/>
        </w:tblGrid>
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="3000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{headerTitle}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2191" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 1: نفقات المستخدمين</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2191" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 2: نفقات تسيير المصالح</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2191" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 3: نفقات الاستثمار</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2191" w:type="dxa"/>
                    <w:vAlign w:val="center"/>

                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>العنوان 4: نفقات التحويل</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2191" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>المجموع</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
        {{#repartitions}}
            <w:tr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3000" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rtl/>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{name}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2191" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre1}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2191" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre2}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2191" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre3}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2191" w:type="dxa"/>
                        <w:vAlign w:val="center"/>

                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{titre4}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>


                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2191" w:type="dxa"/>
                        <w:vAlign w:val="center"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="BoldTableCell"/>
                            <w:jc w:val="center"/>
                            <w:bidi/>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                            </w:rPr>
                            <w:t>{{total}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>

        {{/repartitions}}
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:rtl/>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>مجموع النقات</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre3}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>

                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{totalTitre4}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                        <w:bidi/>
                    </w:pPr>
                    <w:r>
                        <w:rPr>
                            <w:lang w:val="ar-DZ" w:bidi="ar-DZ"/>
                        </w:rPr>
                        <w:t>{{globalTotal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/hasAutreTitre}}
</w:tbl>