<w:tbl xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:tblPr>
        <w:tblStyle w:val="TableGrid"/>
        <w:tblW w:w="13958" w:type="dxa"/>
        <w:tblLook w:val="04A0" w:firstRow="1" w:lastRow="0" w:firstColumn="1" w:lastColumn="0"
                   w:noHBand="0" w:noVBand="1"/>
    </w:tblPr>
    {{#hasAutreTitre}}
        <w:tblGrid>
            <w:gridCol w:w="2000"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
            <w:gridCol w:w="1494"/>
        </w:tblGrid>
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{header}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 1 :Dépenses de Personnel</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 2 :Dépenses de Fonctionnement des services</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 3 :Dépenses d’Investissement</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 4 :Dépenses de Transfert</w:t>
                    </w:r>
                </w:p>
            </w:tc>

            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 5 : Charges de la dette publique</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 6 : dépenses d’Operations financières</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 7 : Dépenses imprévues</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Total</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
        {{#repartitions}}
            <w:tr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2000" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="left"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{name}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre1}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre2}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre3}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre4}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre5}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre6}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre7}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1494" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{total}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
        {{/repartitions}}
        <!-- Totals row -->
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2000" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Total des dépenses</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre3}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre4}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre5}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre6}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre7}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="1494" w:type="dxa"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{globalTotal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/hasAutreTitre}}
    {{^hasAutreTitre}}
        <w:tblGrid>
            <w:gridCol w:w="2454"/>
            <w:gridCol w:w="2300"/>
            <w:gridCol w:w="2300"/>
            <w:gridCol w:w="2300"/>
            <w:gridCol w:w="2300"/>
            <w:gridCol w:w="2300"/>
        </w:tblGrid>
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2454" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{header}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 1 :Dépenses de Personnel</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 2 :Dépenses de Fonctionnement des services</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 3 :Dépenses d’Investissement</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Titre 4 :Dépenses de Transfert</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Total</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
        {{#repartitions}}
            <w:tr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2454" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="left"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{name}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2300" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre1}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2300" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre2}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2300" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre3}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2300" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{titre4}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2300" w:type="dxa"/>
                    </w:tcPr>
                    <w:p>
                        <w:pPr>
                            <w:pStyle w:val="TableCell"/>
                            <w:jc w:val="center"/>
                        </w:pPr>
                        <w:r>
                            <w:t>{{total}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
        {{/repartitions}}
        <!-- Totals row -->
        <w:tr>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2454" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="left"/>
                    </w:pPr>
                    <w:r>
                        <w:t>Total des dépenses</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre1}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre2}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre3}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                    <w:vAlign w:val="center"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="BoldTableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{totalTitre4}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
            <w:tc>
                <w:tcPr>
                    <w:tcW w:w="2300" w:type="dxa"/>
                </w:tcPr>
                <w:p>
                    <w:pPr>
                        <w:pStyle w:val="TableCell"/>
                        <w:jc w:val="center"/>
                    </w:pPr>
                    <w:r>
                        <w:t>{{globalTotal}}</w:t>
                    </w:r>
                </w:p>
            </w:tc>
        </w:tr>
    {{/hasAutreTitre}}
</w:tbl>